<!--main-->
<div class="container" id="main">
  <div class="row">
    <% if !(params[:controller] == "reviews") %>
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"> 
            <h4>Главная</h4>
            <section>
              <p>
                Первый в мире удобный менеджер флеш-карточек. Именно так.
              </p>
            </section>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-md-4 col-sm-6">
      <div class="well">
        <% if current_page?(new_review_path) %>

          <%= render  "cards/train_form", card: @card%>

        <% else %>
          <h4>На <%= link_to "тренировку", new_review_path %>  </h4>  
        <% end %>
      </div>
    </div>
  </div><!--/row-->
  <hr>
</div>


