
<div class="container" id="main">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="well">
        <h1>New User</h1>

        <%= render 'form' %>
        <%= link_to 'Back', users_path %>

      </div>
    </div>
  </div>
</div>
