<div class="panel panel-default">
  <div class="panel-heading"><a href="#" class="pull-right">Посмотреть всё</a> 
    <h4><%= card.original_text %></h4>
  </div>

  <div class="panel-body">
    <p>
      <img src="//placehold.it/150x150" class="img-circle pull- right"> <a href="#">Картинка</a>
    </p>
    <div class="clearfix"></div>
    <hr>
      <%= card.translated_text %>
    <hr>
      <% if (card.class == Elasticsearch::Model::Response::Result) %>
        <%= card.review_date %>
      <% else %>
        <%= card.review_date.strftime('%D') %>
      <% end %>
  </div>
</div>