<br>
<div class="clearfix"></div>
<div class="col-md-12 text-center">
  <p>
    <a href="http://www.bootply.com/download/90113" target="_ext">Download Google Plus Style Template</a>
    <br>
    <a href="http://bootply.com/templates" target="_ext">More Bootstrap Templates by @Bootply</a>
  </p>
</div>
<hr>

<!-- modal -->
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="text-center">О нас</h2>
      </div>
      <div class="modal-body">
        <div class="col-md-12 text-center">
          <br>
          <br>
          <a href="https://github.com/iatek/bootstrap-google-plus">GitHub Fork</a>
        </div>
      </div>
      <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- end modal -->