<nav class="navbar navbar-fixed-top header">
  <div class="col-md-12">
    <div class="navbar-header">
      <%= link_to "Flash Cards", root_path, class: "navbar-brand" %>
    </div>
  </div>  
</nav>
<div class="navbar navbar-default" id="subnav">
  <div class="col-md-12">
    <div class="collapse navbar-collapse" id="navbar-collapse2">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Карточки", cards_path %>
        </li>
      </ul>
    </div>  
  </div>  
</div>
